@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 15, 23, 42;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

* {
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground-rgb));
  background: white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Custom gradient text utility */
.gradient-text {
  @apply bg-gradient-to-r from-[#36a9e1] via-[#66ba80] to-[#95c11f] bg-clip-text text-transparent;
}
